body {
    padding: 0;
    margin: 0;
    background-color: #40a8c4;
    font-family: 'Roboto', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.main--input input{
    width: 350px;
    height: 30px;
    border-radius: 20px;
    outline: none;
    border: 1px solid black;
    padding-left: 15px;
}

.main--button {
    margin-top: 20px;
} 

.main--button button {
    width: 150px;
    height: 30px;
    cursor: pointer;
    border: 2px solid #b5172f;
    border-radius: 15px;
    outline: none;
}

.main--button button:hover {
    background-color: #b5172f;
    color: white;
}

.pokemon img {
    height: 150px;
}

.pokemon p {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0;
    text-transform: capitalize;
}